name: Static Analysis
on: [pull_request, workflow_dispatch]
concurrency:
  group: static-analysis-${{ github.event.number }}
  cancel-in-progress: true
jobs:
  detekt:
    name: Detekt
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Set up Java 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'microsoft'
      - name: Run Detekt
        run: ./gradlew detekt

  android_lint:
    name: Android Lint
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v2
      - name: Set up Java 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'microsoft'
      - name: Lint
        run: ./gradlew lint

  diffuse:
    name: Diffuse AAR Analysis
    runs-on: macOS-11
    steps:
      # Set up environment to assemble SDK
      - name: Set up Java 11
        uses: actions/setup-java@v3
        with:
          java-version: '11'
          distribution: 'microsoft'

      # Assemble artifacts from main branch
      - name: Checkout Main Branch
        uses: actions/checkout@v2
        with:
          ref: main
      - name: Assemble Release AAR on Main Branch
        run: ./gradlew clean assembleRelease -x :Demo:assembleRelease # we exclude Demo module in assemble
      - name: Upload Main Branch Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: main-aar
          path: |
            Core/build/outputs/aar/Core-release.aar
            Card/build/outputs/aar/Card-release.aar
            PayPalWebCheckout/build/outputs/aar/PayPalWebCheckout-release.aar
            PayPalNativeCheckout/build/outputs/aar/PayPalNativeCheckout-release.aar
            PayPalUI/build/outputs/aar/PayPalUI-release.aar

      # Assemble artifacts from current branch
      - name: Checkout Current Branch
        uses: actions/checkout@v2
      - name: Assemble Release AAR on Current Branch
        run: ./gradlew clean assembleRelease -x :Demo:assembleRelease # we exclude Demo module in assemble
      - name: Upload Current Branch Artifacts
        uses: actions/upload-artifact@v2
        with:
          name: current-aar
          path: |
            CorePayments/build/outputs/aar/CorePayments-release.aar
            Card/build/outputs/aar/Card-release.aar
            PayPalWebCheckout/build/outputs/aar/PayPalWebCheckout-release.aar
            PayPalNativeCheckout/build/outputs/aar/PayPalNativeCheckout-release.aar
            PayPalUI/build/outputs/aar/PayPalUI-release.aar

      # Set up Diffuse
      - name: Install Diffuse
        run: brew install JakeWharton/repo/diffuse
      - name: Download Workflow Artifacts 
        uses: actions/download-artifact@v2
      - name: Set up Java 11
        uses: actions/setup-java@v3
        with:
          distribution: 'microsoft'
          java-version: '11'

      # Run Diffuse analysis
      - name: Run Diffuse Analysis - Card
        run: diffuse diff --aar main-aar/Card/build/outputs/aar/Card-release.aar current-aar/Card/build/outputs/aar/Card-release.aar
      - name: Run Diffuse Analysis - CorePayments
        run: diffuse diff --aar main-aar/Core/build/outputs/aar/CorePayments-release.aar current-aar/CorePayments/build/outputs/aar/CorePayments-release.aar
      - name: Run Diffuse Analysis - PayPalWebCheckout
        run: diffuse diff --aar main-aar/PayPalWebCheckout/build/outputs/aar/PayPalWebCheckout-release.aar current-aar/PayPalWebCheckout/build/outputs/aar/PayPalWebCheckout-release.aar
      - name: Run Diffuse Analysis - PayPalNativeCheckout
        run: diffuse diff --aar main-aar/PayPalNativeCheckout/build/outputs/aar/PayPalNativeCheckout-release.aar current-aar/PayPalNativeCheckout/build/outputs/aar/PayPalNativeCheckout-release.aar
      - name: Run Diffuse Analysis - PayPalUI
        run: diffuse diff --aar main-aar/PayPalUI/build/outputs/aar/PayPalUI-release.aar current-aar/PayPalUI/build/outputs/aar/PayPalUI-release.aar